.nav_def{
    height:100px;
    width:100%;
    background-color:grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:center;
    flex-wrap:wrap;
}

h1:hover{
    cursor: pointer;
}

.full_wh{
    height:100%;
    width: 100%;

}